:javascript
  timedRefresh();

= simple_form_for(@user) do |f|
  - if admin_signed_in?
    = f.input :ucard_no, readonly: false
  - else
    = f.input :ucard_no, readonly: true
  = f.input :forename, autofocus: true
  = f.input :surname
  = f.input :email
  = f.input :job_title
  .actions
    = f.submit class: 'btn btn-success'
