%p#notice= notice
%h1 Listing Users
= search_form_for @search,:builder => SimpleForm::FormBuilder do |f|
  = f.input :full_name_search,:label => "Name"
  = f.submit "Search",class: "btn btn-info search"
  .btn-group.pull-right{"aria-label" => "...", :role => "group"}
    = link_to  total_users_path, {method: :post, class: 'btn btn-info',remote:true, type: :button} do
      Total Users
      %span.badge #{User.all.count}
    = link_to active_users_path, {method: :post, class: 'btn btn-success',remote:true} do
      Active Users
      %span.badge #{User.active_users.size}
    = link_to inactive_users_path, {method: :post, class: 'btn btn-warning',remote:true} do
      Inactive Users
      %span.badge #{User.inactive_users.size}
%table.table.table-striped{id:'users_list'}
  = render 'users/users_table', users: @users, users_type: 'total'
%br/
= link_to 'New User', new_user_path
