<p id="notice"><%= notice %></p>

<p>
  <strong>Ucard no:</strong>
  <%= @user.ucard_no %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Forename:</strong>
  <%= @user.forename %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @user.job_title %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
