%p#notice= notice
.panel.panel-default.pull-left
  .panel-heading
    %h3.panel-title User details
  .panel-body
    %p
      %strong Ucard no:
      = @user.ucard_no
    %p
      %strong Surname:
      = @user.surname
    %p
      %strong Forename:
      = @user.forename
    %p
      %strong Job title:
      = @user.job_title
- if @loans.size !=0
  .panel.panel-default.pull-left
    .panel-heading
      %h3.panel-title User history
    .panel-body{style:"max-height: 300px;overflow-y: scroll;"}
      %table.table.table-striped
        %thead
          %tr
            %th Title
            -if admin_signed_in?
              %th Barcode
            %th Borrowed on
            %th Due on
            %th Returned on
        %tbody
          - @loans.each do |loan|
            - if loan.overdue
              - info= 'danger'
            - else
              - info= ''
            %tr{class:info}
              %td= loan.item.title
              -if admin_signed_in?
                %td= loan.item.barcode
              %td= loan.created_at.strftime('%Y-%m-%d %T')
              %td= loan.due_date.strftime('%Y-%m-%d %T')
              - if loan.returned_on.nil?
                %td
                  %b Active
              - else
                %td= loan.returned_on.strftime('%Y-%m-%d %T')
