%p#notice= notice
%p
  %strong Ucard no:
  = @user.ucard_no
%p
  %strong Surname:
  = @user.surname
%p
  %strong Forename:
  = @user.forename
%p
  %strong Job title:
  = @user.job_title
= link_to 'Edit', edit_user_path(@user)
|
= link_to 'Back', users_path
