= simple_form_for [@user, @loan], url: user_loans_path do |f|
  - if @loan.errors.any?
    #error_explanation
      %h2= "#{pluralize(@loan.errors.count, "error")} prohibited this loan from being saved:"
      %ul
        - @loan.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :user_id, as: :hidden
  .field
    = f.input :item_id, collection: Item.all.group("barcode", "items.id"), label: "Item: ",include_blank: true
  .field
    = f.input :due_date, as: :hidden
  .actions
    = f.submit
