%h1 Listing loans

%table
  %thead
    %tr
      %th User
      %th Item
      %th Due date
      %th
      %th
      %th

  %tbody
    - @loans.each do |loan|
      %tr
        %td= loan.user_id
        %td= loan.item_id
        %td= loan.due_date
        %td= link_to 'Show', loan
        %td= link_to 'Edit', edit_loan_path(loan)
        %td= link_to 'Destroy', loan, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Loan', new_loan_path
