%h1 Listing loans

%table.table.table-striped
  %thead
    %tr
      %th User
      %th Item
      %th Due date
      %th
      %th
      %th

  %tbody
    = search_form_for @search,:builder => SimpleForm::FormBuilder do |f|
      = f.input :loan_user_search,:label => "User", collection: User.all.map {|v| v.to_label},include_blank: true
      = f.submit "Search",class: "btn btn-info search"
    - @loans.each do |loan|
      %tr
        %td= loan.user_id
        %td= Item.find(loan.item_id).to_label
        %td= loan.due_date
        %td= link_to 'Show', loan
        %td= link_to 'Edit', edit_loan_path(loan)
        %td= link_to 'Destroy', loan, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Loan', new_loan_path, { :class=>"btn btn-success btn-lg" }
:javascript
    $("#q_loan_user_search").select2({allowClear: true, dropdownAutoWidth : true, width: 'resolve'});
