= simple_form_for(@item) do |f|
  - if @item.errors.any?
    #error_explanation
      %h2
        = pluralize(@item.errors.count, "error")
        prohibited this item from being saved:
      %ul
        - @item.errors.full_messages.each do |message|
          %li= message
  .field
    = f.input :title
    = f.input :category_id, collection: Category.all, label: "Category: ",:selected => @item.category_id
    = f.input :publisher
    = f.input :year
    = f.input :barcode, disabled:true
    = f.input :location_id, collection: Location.all, label: "Location: ",:selected => @item.location_id
    = f.input :copies
  .actions
    = f.submit :class => "btn btn-info"
