= simple_form_for(@item) do |f|
  - if @item.errors.any?
    #error_explanation
      %h2
        = pluralize(@item.errors.count, "error")
        prohibited this item from being saved:
      %ul
        - @item.errors.full_messages.each do |message|
          %li= message
  .field
    = f.input :barcode
    = f.input :location_id, collection: Location.all, label: "Location: "
    = f.input :copies, :input_html => { value: 1 }
  .actions
    = f.submit :class => "btn btn-info"
