%p#notice= notice
%p
  %strong Title:
  = @item.title
%p
  %strong Isbn:
  = @item.barcode
%p
  %strong Category:
  = @item.category.to_label
%p
  %strong Location:
  = @item.location.to_label
%p
  %strong Publisher:
  = @item.publisher
%p
  %strong Year:
  = @item.year
= link_to 'Edit', edit_item_path(@item)
|
= link_to 'Back', items_path
