<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @item.isbn %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category_id %>
</p>

<p>
  <strong>Author:</strong>
  <%= @item.author_id %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @item.publisher %>
</p>

<p>
  <strong>Year:</strong>
  <%= @item.year %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
