%p#notice= notice
%h1 Listing locations
%table.table.table-striped
  %thead
    %tr
      %th Building
      %th Room
      %th
      %th
      %th
  %tbody
    = search_form_for @search,:builder => SimpleForm::FormBuilder do |f|
      = f.input :building_cont,:label => "Buidling"
      = f.submit "Search",class: "btn btn-info search"
    - @locations.each do |location|
      %tr
        %td= location.building
        %td= location.room
        %td= link_to 'Show', location,{ :class=>"btn btn-primary btn-sm" }
        %td= link_to 'Edit', edit_location_path(location),{ :class=>"btn btn-success btn-sm" }
        %td= link_to 'Destroy', location, :method => :delete, :data => { :confirm => 'Are you sure?' },:class=>"btn btn-danger btn-sm"
= will_paginate @locations
%br/
= link_to 'New Location', new_location_path, { :class=>"btn btn-success btn-lg" }

