!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Librarysystem
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %navbar.navbar-fixed-top.navbar-inverse
      .container
        .navbar-brand.pull-left
          %a{href: root_path, class:'navbar-logo'}
            ELTC Library System
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse"}
          %span.glyphicon.glyphicon-align-justify
        %nav.navbar-collapse.collapse{role: "navigation"}
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
                Admin
                %span.caret
              %ul.dropdown-menu
                %li
            %li
              - if admin_signed_in?
                %li.navbar-text
                  Welcome, #{current_admin.email}!
                %li
                  = link_to "Sign out", destroy_admin_session_path, method: :delete
              -else
                = link_to "Sign in", new_admin_session_path
    #main-container.container
      = yield
